.avatar-container {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: linear-gradient(120deg, #f0f4f8, #d9e8f4);
	display: flex;
	align-items: center;
	justify-content: center;
	outline: none;
	z-index: 1;
}
