:root {
	--primary-bg: #0d1b2a;
	--primary-text: #ffd700;
	--accent-color1: #3cb371;
	--accent-color2: #4682b4;
	--secondary-bg: #2e4a62;
	--secondary-text: #f8f8f8;

	--button-bg: #3cb371;
	--button-text: #ffd700;
	--button-hover-bg: #4682b4;

	--shadow-color: rgba(0, 0, 0, 0.25);
	--border-color: #2e4a62;
}

[data-theme='orange'] {
	--primary-bg: #0d1b2a;
	--primary-text: #ffd700;
	--accent-color1: #ff6347;
	--accent-color2: #ffa07a;
	--secondary-bg: #293241;
	--secondary-text: #eaeaea;

	--button-bg: #ff6347;
	--button-text: #ffd700;
	--button-hover-bg: #ffa07a;

	--shadow-color: rgba(0, 0, 0, 0.25);
	--border-color: #293241;
}

[data-theme='cyberpunk'] {
	--primary-bg: #0d1b2a;
	--primary-text: #ffd700;
	--accent-color1: #8a2be2;
	--accent-color2: #0f77ff;
	--secondary-bg: #202040;
	--secondary-text: #dcdcdc;

	--button-bg: #8a2be2;
	--button-text: #ffd700;
	--button-hover-bg: #0f77ff;

	--shadow-color: rgba(0, 0, 0, 0.25);
	--border-color: #202040;
}

[data-theme='white-black'] {
	--primary-bg: #000000;
	--primary-text: #555555;
	--accent-color1: #eaeaea;
	--accent-color2: #555555;
	--secondary-bg: #1a1a1a;
	--secondary-text: #ffffff;

	--button-bg: #ffffff;
	--button-text: #000000;
	--button-hover-bg: #eaeaea;

	--shadow-color: rgba(255, 255, 255, 0.2);
	--border-color: #555555;
}
